{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Basic Computer</title>
        <link href="{% static 'main/main.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <h1>heading</h1>

        <section id="container1">

            {% if codein %}
            <!-- display this if we need to get code from the input text area -->
            <form id="code" action="{% url 'main:write' %}" method="post">
            {%csrf_token%}
            <textarea name="code"
                rows="26"
                cols="50"
                onfocus="this.select()"
                style="font-size: 20px; font-family: monospace;"><-- code goes here --></textarea>
                <br><br>
            <input type="submit" value="Submit">
            </form>

            {% else %}
            <!-- display this part if code is submitted through input -->
            <section id="codeblock">

            <div id="codedisplay" style="width:650px; height:650px ; background-color: lightpink; line-height: 0.5ch;"></div>

            <br><br>
            <a href="/main/">
            <div style="width: 40px; height: 20px; background-color: mediumspringgreen;">back</div></a>

            </section>
            {% endif %}

            <div id="blockDiag">

                <div id="blockleft">
                    <div id="clk" style="flex: 1;">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink;  margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> Clock </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="mar" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> Mem address reg </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="ram" style="flex: 1;">
                        <div style="position:relative; text-align: center; width:80%; height:80%;  background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> RAM </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="ir" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> Instruction Reg </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="cu" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> Control Unit </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                </div>

                <div id="bus">
                    <div style="width:70%; height: 100%; margin: auto; background-color: blueviolet; writing-mode: vertical-lr; text-orientation: upright;">
                    <p style="position:relative; top:40%;"> -- BUS -- </p>
                    </div>
                </div>

                <div id="blockright">
                    <div id="pc" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> Program Counter </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="areg" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> A-Resister </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="alu" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> ALU </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="breg" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> B-Register </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                    <div id="outreg" style="flex: 1; ">
                        <div style="position:relative; text-align: center; width:80%; height:80%; background-color:pink; margin:auto; border:1px solid gray; line-height: 0px;">
                            <p class="blkheading"> Output Register </p>
                            <p class="blktext"> 00h </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <script>
        function getCode(){
            // gets code from the input text field
            const elem = document.getElementById('code');
            var text = elem.value;
        }
        
        function highlightBlk(blockid, prop) {
            // function to highlight a block
            var prevProp;
            const elem = document.getElementById(blockid).firstElementChild;
            prevProp = [elem.style.border, elem.style.backgroundColor];
            elem.style.border = prop[0];
            elem.style.backgroundColor = prop[1];
            return prevProp;
        }


        // getting sequence of events from the backend
        var text = "{{jsondata|safe}}";              // get json string from backend
        text = text.split("'").join('"');       // replace ' with " in the string(json.parse works without errors)
        text = JSON.parse(text);                //convert to json object

        // element to insert processed sequence
        const codeblk = document.getElementById("codedisplay");

        // append each element of the json object into the block
        for(var i in text.process){
            for(var stage in text.process[i]){
                var strtxt = text.process[i][stage];
                const codetxt = document.createElement("p");
                const node = document.createTextNode(strtxt);
                codetxt.appendChild(node);
                codeblk.appendChild(codetxt);
            }
        }

        // insert code entered by the user
        var asmcode = "{{asmcode}}";
        const node = document.createTextNode(asmcode);
        codeblk.appendChild(node);
    </script>

</html>
